<article id="post-hack-in-localstorage" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2015/07/06/hack-in-localstorage/" class="article-date">
        <time datetime="2015-07-06T14:30:00.000Z" itemprop="datePublished">Jul 6</time>
      </a>
    </div>
  
    <div class="article-inner">
      <input type="hidden" class="isFancy" />
      <header class="article-header">
          <h1 itemprop="name">
            <a class="article-title" href="/2015/07/06/hack-in-localstorage/">作为一个前端，可以如何机智地弄坏一台电脑？</a>
          </h1>
      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
        <p>有人说，前端的界限就在浏览器那儿。</p>
        <p>无论你触发了多少bug，最多导致浏览器崩溃，对系统影响不到哪去。<br>这就像二次元各种炫酷的毁灭世界，都不会导致三次元的世界末日。<br>然而，作为一个前端，我发现是有方式打开次元大门的…</p>
        <p>这个实验脑洞较大，动机无聊，但某种意义上反映了一些<strong>安全问题</strong>。<br>想象一下，有天你在家里上网，吃着火锅还唱着歌，<strong>点开一个链接，电脑突然就蓝屏了</strong>！想想还真有点小激动。<br>
    </div>
    
    <div class="article-info article-info-index">

    <div class="article-tag tagcloud">
        <ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/js/">js</a></li><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/安全/">安全</a></li><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/黑科技/">黑科技</a></li></ul>
    </div>
        <p class="article-more-link">
          <a  href="/2015/07/06/hack-in-localstorage/#more">more >></a>
        </p>
      <div class="clearfix"></div>
    </div>
  </div>
  
</article>