{% extends "admin/layout.html" %}

{% block nav %}
    <a class="nav-list-item" href="{{url_for("admin.add_post")}}">添加文章</a>
{% endblock %}

{% block content %}
        <div class="list">
            {% for post in posts %}
            <div>
                <div class="date">
                    {{post.pub_date}}
                </div>
                <div class="title">
                    <a href="{{url_for("main.post", title=post.title)}}">{{post.title}}</a>
                    <a href="{{ url_for('admin.delete_post', post_id=post.id )}}"><input class="del-button" type="button" value="删除"></a>
                    <a href="{{ url_for('admin.edit_post', post_id=post.id )}}"><input class="edit-button" type="button" value="编辑"></a>
                    
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}