
{% extends "admin/layout.html" %}


{% block content %}


<form method="post">
    {{ form.hidden_tag() }}
    <div class="add-post">

            {% for message in get_flashed_messages() %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form.title(id="title", class="form-control", placeholder=form.title.label.text, required="required")}} <br>
            {{ form.md_text(class="input-markdown", placeholder=form.md_text.label.text, required="required") }} <br>
            {{ form.submit(class="btn btn-default") }}
   </div>
</form>

{% endblock %}