@charset "UTF-8";
/* line 2, ../../sass/style.scss */
ul {
  padding: 0 !important;
}

/* line 6, ../../sass/style.scss */
#container .left-col {
  background: #fff;
  width: 300px;
  position: fixed;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  height: 100%;
}
/* line 17, ../../sass/style.scss */
#container .left-col a {
  text-decoration: none;
}
/* line 21, ../../sass/style.scss */
#container .left-col .top {
  width: 100%;
  height: 180px;
  background-color: #000;
  position: absolute;
  opacity: 0.7;
}
/* line 28, ../../sass/style.scss */
#container .left-col .site-info {
  width: 76%;
  text-align: center;
  margin: 112px auto 0;
}
/* line 34, ../../sass/style.scss */
#container .left-col #header {
  width: 100%;
  margin: 0 auto;
}
/* line 38, ../../sass/style.scss */
#container .left-col #header #avatar {
  text-align: center;
  display: block;
  border: 5px solid #fff;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #88acdb;
  -webkit-transition: all 0.2s ease-in;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
}
/* line 58, ../../sass/style.scss */
#container .left-col #header .site-author {
  text-align: center;
  margin: 0.67em 0;
  font-family: Roboto, "Roboto", serif;
  font-size: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/* line 68, ../../sass/style.scss */
#container .left-col #header .site-author a {
  color: #696969;
}
/* line 73, ../../sass/style.scss */
#container .left-col #header .site-subtitle {
  text-align: center;
  color: #999;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 85, ../../sass/style.scss */
#container .left-col #header #myTabs {
  border: 0;
}
/* line 90, ../../sass/style.scss */
#container .left-col #header #myTabDrop {
  margin-left: 74px;
  margin-top: 23px;
  position: relative;
  width: 70px;
  text-align: center;
  border: 0px;
}
/* line 98, ../../sass/style.scss */
#container .left-col #header #myTabDrop span {
  margin-left: 10px;
}
/* line 101, ../../sass/style.scss */
#container .left-col #header #myTabDrop span:hover {
  color: blue;
}
/* line 107, ../../sass/style.scss */
#container .left-col #header #dropdown-menu {
  left: 72px;
  padding: 5px 8px 4px 8px;
  background-color: #000;
  color: #fff;
  width: 80px;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: 0.8;
  position: absolute;
  z-index: 99;
  min-width: 80px;
}
/* line 122, ../../sass/style.scss */
#container .left-col #header #dropdown-menu　a {
  text-align: center;
  width: 80px;
  color: white;
  padding: 4px 0;
  cursor: pointer;
  font-size: 13px;
  color: #ddd;
}
/* line 132, ../../sass/style.scss */
#container .left-col #header .site-menu {
  padding: 0px;
  font-weight: 300;
  line-height: 31px;
  cursor: pointer;
  text-transform: uppercase;
  float: none;
  height: 150px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
/* line 147, ../../sass/style.scss */
#container .left-col #header .site-menu li {
  list-style: none;
}

/* line 162, ../../sass/style.scss */
.right-col {
  position: absolute;
  right: 0;
  min-height: 100%;
  background: #eaeaea;
  left: 300px;
  width: auto;
}
/* line 170, ../../sass/style.scss */
.right-col .body-wrap {
  margin-bottom: 80px;
}
