{% extends "layout.html" %}

{% block content %}

<div class="post-list">
    {% for post in posts %}
    <article class="post">
        
        <h1 class="post-title">
            <a href="{{url_for("main.post", title=post.title)}}">{{post.title}}</a>
        </h1>
        <div class="post-info">
            <p>{{post.pub_date}} -- {{post.category.name}}</p>
        </div>
        <div class="post-content">
            {{ post.html_text|safe |striptags| truncate(150, True, "...")}}
            
        </div>
        
        <div class="post-detail">
            <a href="{{url_for("main.post", title=post.title)}}">查看全文</a>
        </div>
    </article>
    {% endfor %}

</div>

<div class="pagination">
    {% if pagination.has_prev %}
    <span class="left"><a href="{{url_for('main.index', page=pagination.page-1)}}">上一页</a></span>
    {% endif %}
    {% if pagination.has_next %}
    <span class="right"><a href="{{url_for('main.index', page=pagination.page+1)}}">下一页</a></span>
    {% endif %}
</div>

{% endblock %}
