{% extends "layout.html" %}

{% block content %}
                {% for message in get_flashed_messages() %}
                <div class="message">
                    {{ message }}
                </div>
                {% endfor %}

    <div class="login-form">
        <form action="" method="post">
        {{ form.hidden_tag() }}
            {{form.email.label}}{{form.email(class="login-email",placeholder="邮箱")}} <br>
            {{form.password.label}}{{form.password(class="login-password",placeholder="密码")}}<br>
            {{form.remember_me.label}}{{form.remember_me(class="login-remember")}}<br>
            {{form.submit(class="login-button")}}
        </form>
    </div>

{% endblock %}
