{% extends "layout.html" %}

{% block content %}

    {% block css %}
<link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.5.0/styles/tomorrow-night-bright.min.css">

    {% endblock %}

<article class="post">
    
    <h1 class="post-title">
        <a href="">{{post.title}}</a>
    </h1>
    <div class="post-info">
        <p>{{post.pub_date}} - {{post.category.name}}</p>
    </div>
    <div class="post-content">
        {{ post.html_text|safe }}
    </div>

</article>

<div class="post-comments">
        <h4 id="comments">评论</h4>
        {% for c in post.comments %}
        {% if c.disabled == false%}
            {% if current_user.is_authenticated %}
                {% if c.disabled == True %}
                        <a href="{{ url_for('admin.edit_comment', comment_id=c.id )}}"><input class="edit-button" type="button" value="打开"></a>  
                {% else %}
                        <a href="{{ url_for('admin.edit_comment', comment_id=c.id )}}"><input class="edit-button" type="button" value="禁用"></a>  
                {% endif %}
            {% endif %}

            <div class="post-comment">
                <div class="comment-info"><span class="comment-author">{{c.author_name}}</span> 评论于 <span class="comment-date">{{c.pub_date}}</span></div>
                <div class="comment-content">
                    <p>{{c.content}}</p>
                </div>
            </div>
        {% endif %}
        {% endfor %}

        <h4 id="add-comment">添加评论</h4>
        <div class="add-comment">
            <form action="{{url_for('main.post', title=post.title)}}" method="post">
                {{ form.hidden_tag() }}
                {{form.author_name.label}} <br>
                {{form.author_name(placeholder="昵称", required="required", class="form-control")}} <br>
                {{form.email.label}}<br>
                {{form.email(placeholder="邮箱", required="required", class="form-control")}}<br>
                {{ form.content(placeholder=form.content.label.text, required="required", maxlength="400px",class="form-control") }} <br>
                {{form.submit(class="btn btn-info")}}
            </form>
        </div>



    </div>

<script src="//cdn.bootcss.com/highlight.js/9.5.0/highlight.min.js"></script>
{#<script src="http://cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>#}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}